.container {
    flex: 1 0 auto;
    background: url('https://pixy.org/src2/589/5892591.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    vertical-align: center;
}

.keysContainer{
    flex: 1 0 auto;
    margin: auto 0;
}
.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.drumKeyBtn {
    border: 2px solid rgb(7, 7, 7);
    color: white;
    padding: 12px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.644);
    min-width: 100px;
    cursor: pointer;
    transition: all 0.07s;
    
}

.drumKeyName {
    color: rgb(236, 175, 9);
}
.drumKey {
    font-size: 20px;
}

.playing {
    transform: scale(1.1);
    border: 2px solid rgb(236, 175, 9);
    box-shadow: 0 0 10px rgb(236, 175, 9);
}